<div class="modal fade bd-example-modal-lg update" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true" >
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Edit Student</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <form class="formStyle" [formGroup]="form" name="form" (ngSubmit)="onUpdate()">
                <div class="form-group full">
                    <label for="exampleFormControlInput1">Email address</label>
                    <input type="string" email class="form-control" formControlName="email"
                        placeholder="name@example.com">
                </div>
                <!-- <div *ngIf="form.get('email').invalid && (form.get('email').dirty || form.get('email').touched)" 
                class="alert alert-danger error">
              
                        Email is invalid.
              
                </div> -->
                <div class="form-group">
                    <label for="exampleFormControlInput1">Name</label>
                    <input type="text" class="form-control" formControlName="name"
                        placeholder="Enter your name">
              
                </div>
                <div *ngIf="form.get('name').invalid && (form.get('name').dirty || form.get('name').touched)" 
                class="alert alert-danger error">
              
                    <div *ngIf="name.errors.required ">
                        Name is required.
                    </div> 
              
                </div>
                    <div class="form-group" >
                        <label for="exampleFormControlInput1">Date</label>
                        <input type="string" class="form-control" formControlName="date"
                            placeholder="yy-mm-dd">
              
                    </div>
                    <div *ngIf="form.get('date').invalid && (form.get('date').dirty || form.get('date').touched)" 
                    class="alert alert-danger error">
                            Date is invalid.
               
                    </div>
                    <div class="half">
                        <div class="form-group">
                            <label for="exampleFormControlInput1">Roll No</label>
                            <input type="number" class="form-control" formControlName="roll"
                                placeholder="Enter your roll no">
                  
                        </div>
                        <div *ngIf="form.get('roll').invalid && (form.get('roll').dirty || form.get('roll').touched)" 
                        class="alert alert-danger error">
                                Roll is invalid.
                        </div>
                  
                        <div class="form-group ">
                            <label for="exampleFormControlInput1">Age</label>
                            <input type="number" class="form-control" formControlName="age"
                                placeholder="Enter your age">
                        </div>
                    </div>
                    <div *ngIf="form.get('age').invalid && (form.get('age').dirty || form.get('age').touched)" class="alert alert-danger error">
              
                            Age is invalid.
                       
               
                    </div>
                    <div class="form-group " >
                        <label for="exampleFormControlInput1">Are you male?</label>
                        <input type="text" class="form-control" formControlName="gender"
                            placeholder="Answer in true or false!">
                    </div>
                    <div *ngIf="form.get('gender').invalid && (form.get('gender').dirty || form.get('gender').touched)"
                     class="alert alert-danger error">
              
                            Gender is invalid.
               
                    </div>
               
       
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" 
          data-dismiss="modal">Close</button>
          <button type="button" type="submit" class="btn btn-primary">Save</button>
        </div>
    </form> 
</div>
      </div>
    </div>
  </div>
